
<div class='page_title'>
    <div class='container'>
        <div class='inner'>
            <div class='title'>سبد خرید</div>
            <div id='breadcromb'>
                <ul class='list clearfix none_list_style'>
                    <li><a href='' title=''><i class='i-home-house-streamline'></i></a></li>
                    <li><a href='' title=''>مراحل خرید</a></li>
                    <li><a href='cart' title=''>سبد خرید</a></li>
                </ul><!--close .list-->
            </div><!--close #breadcrumb-->
            <div class='search_part'>
                <div class='search_btn'>
                    <i class='open_icon i-search'></i>
                    <i class='close_icon i-cancel'></i>
                </div>
                <div class='search_input'>
                    <form method="POST" action="search/query">
                        <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        <input name="query" type='text' placeholder='جستجو کنید'>
                        <button><i class='i-search'></i></button>
                    </form>
                </div><!--close .search_input-->
            </div><!--close .search_part-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div><!--close .page_title-->        <div class='cart_part1'>
    <div class='container'>
        <div class='inner'>
            <div class='top_part'>
                <ul class='step clearfix none_list_style'>
                    <li class='item      active
'>
                        <a href='cart' title='' class='link'>
                            <div class='number'>
                                <span>1</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div><!--close .number-->
                            <div class='content'>
                                <span>سبد خرید</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div><!--close .content-->
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='cart/login' title='' class='link'>
                            <div class='number'>
                                <span>2</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>ورود / عضویت</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='cart/postinfo' title='' class='link'>
                            <div class='number'>
                                <span>3</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>اطلاعات پستی گیرنده</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='cart/send' title='' class='link'>
                            <div class='number'>
                                <span>4</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>اطلاعات ارسال سفارش</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='cart/review' title='' class='link'>
                            <div class='number'>
                                <span>5</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>بازبینی سفارش</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                    <li class='item  '>
                        <a href='cart/checkout' title='' class='link'>
                            <div class='number'>
                                <span>6</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="-90 -1 792 737" style="enable-background:new -90 -1 792 737;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow"
                                          d="M702,736c-237.6-26.4-369.6-158.4-396-396C279.6,577.6,147.6,709.6-90,736" />



                                    <path id="dec-post-arrow_1_"
                                          d="M-90-1c237.6,26.4,369.6,158.4,396,396C332.4,157.4,464.4,25.4,702-1" />



                                            </svg>
                                </div>
                            </div>
                            <div class='content'>
                                <span>انتخاب روش پرداخت</span>
                                <div class='svg_arrow'>
                                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                         viewBox="0 199 792 396" style="enable-background:new 0 199 792 396;"
                                         xml:space="preserve">
                                    <path id="dec-post-arrow_1_"
                                          d="M0,198c237.6,26.4,369.6,158.4,396,396c26.4-237.6,158.4-369.6,396-396" />



                                            </svg>
                                </div>
                            </div>
                        </a>
                    </li><!--close .item-->
                </ul><!--close .step-->
            </div><!--close .top_part-->                <div class='bottom_part'>
                <div class='table_style1'>
                    <table>
                        <thead>
                            <tr>
                                <th class='pic'><span>محصول</span></th>
                                <th class='subject'><span>شرح</span></th>
                                <th class='price'><span>قیمت واحد</span></th>
                                <th class='count'><span>تعداد</span></th>
                                <th class='delet'><span>حذف</span></th>
                                <th class='total_price'><span>قیمت کل</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a href='هود-وایز-WH201/products/1'
                                       title='' class='link'>
                                        <img class='pic' src='uploads/86024cad1e83101d97359d7351051156/c4ca4238a0b923820dcc509a6f75849b/th_100-100_kiket-G40a-WH201.jpg' title='' alt=''>
                                    </a>
                                </td>
                                <td>هود وایز WH201</td>
                                <td><span class='price'>1,067,000</span></td>
                                <td>
                                    <div class='quantity_style1'>
                                        <span class='inc qty_btn' data-item="1"><i class='i-up-open'></i></span>
                                        <input type='text' data-item="1" value='1'>
                                        <span class='dec qty_btn' data-item="1"><i class='i-down-open'></i></span>
                                    </div>
                                </td>
                                <td>
                                    <a href="cart/remove" onclick="event.preventDefault();
                                                    document.getElementById('cart-remove-1').submit();">
                                        <span class='delet'><i class='i-cancel'></i></span>
                                    </a>
                                </td>
                                <td>
                                    <span class='total_price'>1,067,000</span>
                                </td>
                            </tr>
                            <form method="POST" action="cart/remove" id="cart-remove-1"
                                  style="display: none;">
                                <input type="hidden" name="item_id" value="1">
                                <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                            </form>
                        </tbody>
                    </table>
                </div><!-- close .table_style1 -->
                <div class='all_product_price clearfix'>
                    <div class='off_price'>
                        <span class='title'>تخفیف :</span>
                        <span class='text'>-52,000 تومان</span>
                    </div>
                    <div class='total_price'>
                        <span class='title'>قیمت کل :</span>
                        <span class='text'>1,067,000 تومان</span>
                    </div>
                </div>
                <div class='btn_part'>
                    <a href='cart/login' title='' class='btn_style1 add_cart'>
                        <i class='i-shop'></i><span>تکمیل سفارش خرید</span>
                    </a>
                </div>
            </div><!--close .bottom_part-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div><!--close .cart_part1-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
