
<div class='container'>
    <div class='inner'>
        <div class='title'></div>
        <div id='breadcromb'>
            <ul class='list clearfix none_list_style'>
                <li><a href='' title=''><i class='i-home-house-streamline'></i></a></li>
                <li><a href='نقشه-سایت/sitemap' title=''>نقشه سایت</a></li>
            </ul><!--close .list-->
        </div><!--close #breadcrumb-->
        <div class='search_part'>
            <div class='search_btn'>
                <i class='open_icon i-search'></i>
                <i class='close_icon i-cancel'></i>
            </div>
            <div class='search_input'>
                <form method="POST" action="search/query">
                    <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                    <input name="query" type='text' placeholder='جستجو کنید'>
                    <button><i class='i-search'></i></button>
                </form>
            </div><!--close .search_input-->
        </div><!--close .search_part-->
    </div><!--close .inner-->
</div><!--close .container-->
    </div><!--close .page_title-->        <div class="site_map_part1">
    <div class="container">
        <div class="inner clearfix">
            <div class="fright part_side">
                <div class="side_border">
                    <div class="title_style7">
                        <div class="title">لینک های اصلی سایت</div>
                    </div>
                    <ul class="step none_list_style">
                        <li class='item'><a href='' title='' class='link'>صفحه اصلی</a></li>
                        <li class='item'><a href='محصولات/products' title='' class='link'>محصولات</a>
                        <li class='item'><a href='اخبار/news' title='' class='link'>اخبار</a></li>
                        <li class='item'><a href='مقالات/article' title='' class='link'>مقالات</a></li>
                        <li class='item'><a href='درباره-ما/about-us' title='' class='link'>درباره ما</a></li>
                        <li class='item'><a href='تماس-با-ما/contact-us' title='' class='link'>تماس با ما</a></li>
                        <li class='item'><a href='قوانین-و-سیاست-ها/law' title='' class='link'>قوانین و سیاست ها</a></li>
                        <li class='item'><a href='نقشه-سایت/sitemap' title='' class='link'>نقشه سایت</a></li>
                    </ul><!-- .step -->
                </div><!-- .side_border -->
            </div><!-- .part_side -->
            <div class="fleft part_side">
                <div class="side_border">
                    <div class="title_style7">
                        <div class="title">محصولات سایت</div>
                    </div>
                    <ul class="step none_list_style">
                        <li class="item">
                            <a href="" title="" class="link">محصولات</a>
                            <ul class="step2 none_list_style">
                                <li class="item2">
                                    <a href="هود-وایز-WH201/products/1" title="" class="link2">هود وایز WH201</a>
                                </li>
                                <li class="item2">
                                    <a href="اجاق-گاز-صفحه-ای-اخوان/products/2" title="" class="link2">اجاق گاز صفحه ای اخوان</a>
                                </li>
                                <li class="item2">
                                    <a href="قهوه-ساز-و-میکسر-meaceo/products/6" title="" class="link2">قهوه ساز و میکسر meaceo</a>
                                </li>
                                <li class="item2">
                                    <a href="سینک-ظرفشویی-استیل-البرز/products/5" title="" class="link2">سینک ظرفشویی استیل البرز</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-استیل-البرز/products/12" title="" class="link2">هود استیل البرز</a>
                                </li>
                                <li class="item2">
                                    <a href="ماکرویو-به-همراه-جوجه-گردان/products/7" title="" class="link2">ماکرویو به همراه جوجه گردان</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH202/products/13" title="" class="link2">هود وایز WH202</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH203/products/14" title="" class="link2">هود وایز WH203</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH204/products/15" title="" class="link2">هود وایز WH204</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH205/products/16" title="" class="link2">هود وایز WH205</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH206/products/17" title="" class="link2">هود وایز WH206</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH207/products/18" title="" class="link2">هود وایز WH207</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH208/products/19" title="" class="link2">هود وایز WH208</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH209/products/20" title="" class="link2">هود وایز WH209</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH210/products/21" title="" class="link2">هود وایز WH210</a>
                                </li>
                                <li class="item2">
                                    <a href="هود-وایز-WH211/products/22" title="" class="link2">هود وایز WH211</a>
                                </li>
                                <li class="item2">
                                    <a href="اجاقگاز-وایز-WG301/products/23" title="" class="link2">اجاقگاز وایز WG301</a>
                                </li>
                                <li class="item2">
                                    <a href="اجاقگاز-وایز-WG302/products/24" title="" class="link2">اجاقگاز وایز WG302</a>
                                </li>
                                <li class="item2">
                                    <a href="اجاقگاز-وایز-WG303/products/25" title="" class="link2">اجاقگاز وایز WG303</a>
                                </li>
                            </ul>
                        </li>
                    </ul><!-- .step -->
                </div><!-- .side_border -->
            </div><!-- part_side -->
        </div><!-- close .inner -->
    </div><!-- close .container -->
</div>
@section Scripts {

}
