@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    //ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}
<div class='panel_style1'>
    <div class='container'>
        <div class='inner clearfix'>
            @{
                if (ViewBag.Msg != null)
                {
                    string Msg = ViewBag.Msg.ToString();
                    string OK = ViewBag.OK.ToString();
                    if (OK == "OK")
                    {
                        <div class='alarm_style1'>
                            <div class='success_alarm box'>
                                <div class='alarm_icon'><img src='~/assets/front/_images/icon/checked.png' alt=''></div>
                                <div class='alarm_text'> @Msg</div>
                            </div>
                        </div><!--close .alarm_style1-->
                    }
                    else
                    { <div class='alarm_style1'>
                            <div class='success_alarm box'>
                                <div class='alarm_icon'><img src='~/assets/front/_images/icon/checked.png' alt=''></div>
                                <div class='alarm_text'> @Msg</div>
                            </div>
                        </div><!--close .alarm_style1-->
                    }
                }
            }
            @await Html.PartialAsync("~/Views/Profile/P_HeaderProfile.cshtml")  <!--clsoe .dashboard-->
        
        <div class='container'>
            <div class='inner clearfix'>

                <div class='panel_content'>
                    <div class='title_style7'>
                        <span class='title'>تغییر کلمه عبور</span>
                    </div>
                    <div class='form_style2'>
                        <form id="change-password-form" style='width:60%; margin:0 auto;'  method="post">
                            <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">

                            <ul class='step none_list_style clearfix'>
                                <li class='item'>
                                    <div class='icon'><i class='i-mohre'></i></div>
                                    <input asp-for="Input.OldPassword" placeholder='کلمه عبور فعلی'>
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                </li>
                                <li class='item'>
                                    <div class='icon'><i class='i-key'></i></div>
                                    <input asp-for="Input.NewPassword"  placeholder='کلمه عبور جدید' id="pass" >
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                </li>
                                <li class='item'>
                                    <div class='icon'><i class='i-key'></i></div>
                                    <input asp-for="Input.ConfirmPassword" placeholder='تکرار کلمه عبور جدید' >
                                    <span class='focus_bg'></span>
                                    <span class='important'><i class='i-star'></i></span>
                                </li>
                                <li class='item submit'>
                                    <button type="submit" class="btn btn-primary">ثبت تغییرات</button>
                                </li>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        @section Scripts {

        }
        </div>
        </div>
    </div>