
   
<div class='container'>
    <div class='inner'>
        <div class='title'>
            جزییات محصول
        </div>
        <div id='breadcromb'>
            <ul class='list clearfix none_list_style'>
                <li><a href='' title=''><i class='i-home-house-streamline'></i></a></li>
                <li><a href='محصولات/products' title=''>آرشیو محصولات</a></li>
                <li>
                    <a href='اجاقگاز-وایز-WG301/products/23'
                       title=''>اجاقگاز وایز WG301</a>
                </li>
            </ul><!--close .list-->
        </div><!--close #breadcrumb-->
        <div class='search_part'>
            <div class='search_btn'>
                <i class='open_icon i-search'></i>
                <i class='close_icon i-cancel'></i>
            </div>
            <div class='search_input'>
                <form method="POST" action="search/query">
                    <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                    <input name="query" type='text' placeholder='جستجو کنید'>
                    <button><i class='i-search'></i></button>
                </form>
            </div><!--close .search_input-->
        </div><!--close .search_part-->
    </div><!--close .inner-->
</div><!--close .container-->
    </div><!--close .page_title-->





    <div class='product_detail_part1'>
        <div class='container'>
            <div class='inner clearfix'>
                <div class='right_part'>
                    <img class='drift-demo-trigger product_img'
                         src='/uploads/@ViewBag.ProductPictureDefult'
                         data-zoom='/uploads/@ViewBag.ProductPictureDefult'>
                </div>
                <div class='center_part'>
                    <div class='have_scroll_y'>
                        <ul class='step none_list_style'>
                            <li class='item active'
                                style='background-image:url(/uploads/@ViewBag.ProductPictureDefult);'
                                data-big='/uploads/@ViewBag.ProductPictureDefult'></li>
                        </ul><!--close .step-->
                    </div><!--close .have_scroll_y-->
                </div><!--close .center_part-->
                <div class='left_part'>
                    <div class='zoom_part'></div>
                    <div class='zoom_part'></div>
                    <div class='wrapper'>
                        <div class='product_title'>@ViewBag.Product.Title</div>
                        <div class='product_information'>
                            <div class='product_brand'
                                 style='background-image:url(/uploads/kiket-rf5o-WISE0LOGO.png);'></div>
                            <ul class='step none_list_style'>
                                <li class='item'>
                                    <span class='title'>@ViewBag.TechnicalInfo.MadeIn</span>
                                    <span class='content'>@ViewBag.TechnicalInfo.Factory</span>
                                </li>


                                <li class='item color'>
                                    <span class='title'>رنگ</span>
                                    <span class='content'>
                                        <ul class='step2'>
                                            <li class='item2'>
                                                <span class='color_code'
                                                      style='background-color:#929792;'></span>
                                                <span class='color_text'>نقره ای</span>
                                            </li>
                                        </ul>
                                    </span>
                                </li>
                                <li class='item'>
                                    <span class='title'>شرکت سازنده</span>
                                    <span class='content'>وایز</span>
                                </li>
                            </ul>
                        </div><!--close .product_information-->
                        <div class='product_price'>
                            <span class='org_price'>1,290,000تومان</span>
                            <span class='off_price'>1,357,000 تومان</span>
                        </div><!--close .product_price-->
                        <div class='select_part'>
                            <form method="POST" action="ShoppingCard/Add" id="cart-product-23">
                                <input type="hidden" name="product_id" value="23">
                                <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                                <select name='product_color' id='' class='select_style1'>
                                    <option value="0">انتخاب رنگ</option>
                                    <option value="36">نقره ای</option>
                                </select>
                                <select name='product_guarantee' id='' class='select_style1'>
                                    <option value="0">انتخاب ضمانت نامه</option>
                                    <option value="101">2 ساله وایز سرویس</option>
                                </select>

                            </form>
                        </div><!--close .select_part-->
                        <div class='product_btn'>
                            <a href='cart/add' onclick="event.preventDefault();
                                    document.getElementById('cart-product-23').submit();" title=''
                               class='btn_style1 add_cart'>
                                <i class='i-add-shop'></i><span>افزودن به سبد خرید</span>
                            </a>
                        </div>
                    </div><!--close .wrapper-->
                </div><!--close .left_part-->
            </div><!--close .inner-->
        </div><!--close .container-->
    </div><!--close .product_detail_part1-->
    <div class='product_detail_part2'>
        <div class='container'>
            <div class='inner'>
                <div class='product_text'>
                    <div class='top_part clearfix'>
                        <div class='title_style6'>توضیحات محصول</div>
                        <div class='share_part'>
                            <div class='btn_part'>
                                <div class='link_btn'><i class='i-share'></i></div>
                                <div class='link_text'>ارسال برای دوستان</div>
                            </div>
                            <div class='share_box' style='display:none;'>
                                <div class='social_media'>
                                    <ul class='none_list_style step'>
                                        <li class='item'>
                                            <a href='https://telegram.me/share/url?url=اجاقگاز-وایز-WG301/products/23'
                                               class='link'><i class='i-telegram'></i></a>
                                        </li>
                                    </ul>
                                </div><!--close .social_media-->
                                <div class='email_input'>
                                    <form id='share_frm' method="POST" action="share/email">
                                        <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                                        <input name='email' type='text' name="email" placeholder='ایمیل'>
                                        <input type="hidden" name="link"
                                               value="اجاقگاز-وایز-WG301/products/23">
                                        <input type="hidden" name="title" value="اجاقگاز وایز WG301">
                                        <button type="submit">ارسال</button>
                                    </form>
                                </div>
                            </div><!--close .share_box-->
                        </div><!--close .share_part-->
                        <div class='page_info'>
                            <ul class='step none_list_style clearfix'>
                                <li class='item'>
                                    <div class='icon'><i class='i-eye'></i></div>
                                    <div class='content'>بازدید :<span>59</span></div>
                                </li>
                                <li class='item'>
                                    <div class='icon'><i class='i-calendar'></i></div>
                                    <div class='content'>
                                        تاریخ :<span>04/تیر/1396</span>
                                    </div>
                                </li>
                                <li class='item'>
                                    <div class='icon'><i class='i-comments'></i></div>
                                    <div class='content'>
                                        نظرات
                                        :<span>0</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div><!--close .top-part-->
                    <article class='content_style1'>
                        <p>
                            اجاقگاز وایز WG301

                            5 شعله ، اندازه 90 سانتی متر | طراحی شده در کشور ایتالیا | مجهز به سرشعله و شير SABAF ساخت كشور ايتاليا است تا یکنواختی شعله و توان حرارتی 3/8Kw را تضمين و در عين حال ، میزان گاز مصرفی را به حداقل برساند | به ترموکوپل و جرقه زن ORKLI معتبرترين برند جهان در كشور اسپانیا تجهيز شده تا ايمني كار با اجاق تضمين شود | ولومها از جنس باکالیت نسوز  با روكش آلومينيومي ، در برابر حرارت داغ نميشود و فرم و شکل خود را به مرور زمان از دست نخواهد داد | جنس صفحه از نوع استیل 304 ژاپن است ،  اثر انگشت بر روی آن باقی نمي ماند و به آسانی تمیز ميشود |
                        </p>
                    </article>
                </div><!--close .product_content-->
            </div><!--close .inner-->
        </div><!--close .container-->
    </div><!--close .product_detail_part2-->
    <div class='product_detail_part3'>
        <div class='container'>
            <div class='inner'>
                <div class='tab_style1'>
                    <div class='top_part'>
                        <ul class='step1 clearfix'>
                            <li class='item active' data-target='part1'>مشخصات فنی</li>
                            <li class='item' data-target='part2'>نظرات کاربران</li>
                        </ul>
                    </div><!--close .top_part-->
                    <div class='bottom_part'>
                        <div class='full_information tab_section' data-target='part1'>
                            <ul class='step none_list_style'>
                                <li class='item clearfix'>
                                    <div class='title'>جنس صفحه</div>
                                    <div class='text'>استیل 304 ژاپن</div>
                                </li>
                            </ul>
                        </div><!--close .full_information-->
                        <div class='comment_part tab_section' data-target='part2' style='display:none;'>
                            <div class='comment_alarm clearfix'>
                                <div class='form_style1 login_part'>
                                    <div class='text'>برای ثبت نظر خود باید وارد حساب کاربری خود شوید</div>
                                    <form id='login_frm' action="login" method="POST">
                                        <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                                        <ul class='step none_list_style clearfix'>
                                            <li class='item'>
                                                <span class='title'>ایمیل</span>
                                                <input type='text' name='email' placeholder=':: email'>
                                            </li>
                                            <li class='item'>
                                                <span class='title'>رمز عبور</span>
                                                <input type='password' name='password' placeholder=':: password'>
                                            </li>
                                            <li class='item submit'>
                                                <button>ورود کاربران</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div><!--close .form_style1-->
                                <div class='singin_part'>
                                    <div class='text'>
                                        قبلاً در فروشگاه لوازم خانگی <strong>کی کِت</strong> ثبت نام نکرده اید؟
                                    </div>
                                    <a href='register' title='' class='link'>
                                        ثبت نام در کی کِت <i class='i-add-user'></i>
                                    </a>
                                </div>
                            </div><!--close .comment_alarm-->
                            <div class='comment_style1'>
                            </div><!--close .coment_style1-->

                            <div id='reply_comment_form'>
                                <div class='close_btn'><i class='i-cancel'></i></div>
                                <div class='form_style1'>
                                    <form action='' id='comment_reply_frm'>
                                        <ul class='step none_list_style clearfix'>
                                            <li class='item textarea'>
                                                <span class='title'>متن پیام</span>
                                                <textarea name='content'></textarea>
                                            </li>
                                            <li class='item submit'>
                                                <button>ثبت نظر</button>
                                            </li>
                                        </ul>
                                    </form>
                                </div><!--close .form_style1-->
                            </div><!--close #reply_comment_form-->
                        </div><!--close .comment_part-->
                    </div><!--close .bottom_part-->
                </div><!--close .tab_style-->
            </div><!--close .inner-->
        </div><!--close .container-->
    </div><!--close .product_detail_part3-->

@section Scripts {

}

