

<div class='page_title'>
    <div class='container'>
        <div class='inner'>
            <div class='title'>آرشیو محصولات</div>
            <div id='breadcromb'>
                <ul class='list clearfix none_list_style'>
                    <li><a href='' title=''><i class='i-home-house-streamline'></i></a></li>
                    <li><a href='/محصولات/products' title=''>آرشیو محصولات</a></li>
                </ul><!--close .list-->
            </div><!--close #breadcrumb-->
            <div class='search_part'>
                <div class='search_btn'>
                    <i class='open_icon i-search'></i>
                    <i class='close_icon i-cancel'></i>
                </div>
                <div class='search_input'>
                    <form method="POST" action="/search/query">
                        <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        <input name="query" type='text' placeholder='جستجو کنید'>
                        <button><i class='i-search'></i></button>
                    </form>
                </div><!--close .search_input-->
            </div><!--close .search_part-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div><!--close .page_title-->

<div class='product_archive_part1'>
    <div class='container'>
        <div class='inner clearfix'>
            <div class='right_part'>
                <div class='right_part1'>
                    <div class='title_style5'>
                        <span class='icon'><i class='i-list'></i></span>
                        <div class='title'> دسته بندی محصولات</div>
                    </div>
                    <div class='list_part'>
                        <ul class='step none_list_style'>
                            <li class='item'>
                                <a href='/هود/products/category/1' title='' class='link'>هود</a>
                                <div class='count'>12</div>
                            </li>
                            <li class='item'>
                                <a href='/سینک-ظرفشویی/products/category/6' title='' class='link'>سینک ظرفشویی</a>
                                <div class='count'>1</div>
                            </li>
                            <li class='item'>
                                <a href='/اجاق-گاز-و-فر/products/category/12' title='' class='link'>اجاق گاز و فر</a>
                                <div class='count'>4</div>
                            </li>
                            <li class='item'>
                                <a href='/قهوه-ساز/products/category/7' title='' class='link'>قهوه ساز</a>
                                <div class='count'>1</div>
                            </li>
                            <li class='item'>
                                <a href='/ماکروویو/products/category/13' title='' class='link'>ماکروویو</a>
                                <div class='count'>1</div>
                            </li>
                        </ul>
                    </div>
                </div><!--close .right_part1-->
                <div class='right_part2'>
                    <div class='title_style5'>
                        <span class='icon'><i class='i-search'></i></span>
                        <div class='title'>جستجو پیشرفته</div>
                    </div>
                    <div class='pro_search_part price_range'>
                        <div class='title_style3'><span class='title'>بر اساس قیمت</span></div>
                        <input type='range' min='10' max='1000' step='10' value='300' data-orientation='vertical'
                               id='price_slider'>
                    </div><!--close .pro_search_part-->
                    <div class='pro_search_part'>
                        <div class='title_style3'><span class='title'>بر اساس گارانتی</span></div>
                        <ul class='step none_list_style'>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>2 ساله وایز سرویس</span>
                                    <input type='checkbox' name="2 ساله وایز سرویس"
                                           value="101">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>3 ساله بدرسان</span>
                                    <input type='checkbox' name="3 ساله بدرسان"
                                           value="100">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>2 ساله بدرسان</span>
                                    <input type='checkbox' name="2 ساله بدرسان"
                                           value="102">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>1 ساله بدرسان</span>
                                    <input type='checkbox' name="1 ساله بدرسان"
                                           value="103">
                                    <span class='icon'></span>
                                </label>
                            </li>
                        </ul>
                    </div><!--close .pro_search_part-->
                    <div class='pro_search_part'>
                        <div class='title_style3'><span class='title'>بر اساس کشور سازنده</span></div>
                        <ul class='step none_list_style'>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>ایران</span>
                                    <input type='checkbox' name="ایران"
                                           value="99">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>چین</span>
                                    <input type='checkbox' name="چین"
                                           value="97">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>آمریکا</span>
                                    <input type='checkbox' name="آمریکا"
                                           value="98">
                                    <span class='icon'></span>
                                </label>
                            </li>
                        </ul>
                    </div><!--close .pro_search_part-->
                    <div class='pro_search_part'>
                        <div class='title_style3'><span class='title'>بر اساس شرکت سازنده</span></div>
                        <ul class='step none_list_style'>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>استیل البرز</span>
                                    <input type='checkbox' name="استیل البرز"
                                           value="93">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>اخوان</span>
                                    <input type='checkbox' name="اخوان"
                                           value="94">
                                    <span class='icon'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style1'>
                                    <span>وایز</span>
                                    <input type='checkbox' name="وایز"
                                           value="104">
                                    <span class='icon'></span>
                                </label>
                            </li>
                        </ul>
                    </div><!--close .pro_search_part-->
                    <div class='pro_search_part color_select'>
                        <div class='title_style3'><span class='title'>بر اساس رنگ</span></div>
                        <ul class='none_list_style step clearfix'>
                            <li class='item'>
                                <label class='check_radio_style2'>
                                    <span>مشکی</span>
                                    <input type='checkbox' name="مشکی"
                                           value="32">
                                    <span class='icon' style='background-color:#0b0000;'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style2'>
                                    <span>نقره ای</span>
                                    <input type='checkbox' name="نقره ای"
                                           value="36">
                                    <span class='icon' style='background-color:#929792;'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style2'>
                                    <span>طلایی</span>
                                    <input type='checkbox' name="طلایی"
                                           value="67">
                                    <span class='icon' style='background-color:#e4a916;'></span>
                                </label>
                            </li>
                            <li class='item'>
                                <label class='check_radio_style2'>
                                    <span>سفید</span>
                                    <input type='checkbox' name="سفید"
                                           value="105">
                                    <span class='icon' style='background-color:#f9f6f6;'></span>
                                </label>
                            </li>
                        </ul>
                    </div><!--close .pro_search_part-->
                </div><!--close .right_part2-->
            </div><!--close .right_part-->
            <div id="content" class='left_part'>
                <div class='loading'>
                    <img src='assets/front/_images/loading/loader5.gif' title='' alt=''>
                </div>
                <div class='search_result'>
                    <div class='search_title clearfix'>
                        <div class='title'>نتیجه جستجو</div>
                        <div class='search_count'>
                            نمایش <span>1</span> تا
                            <span>4</span> از <span>4</span> آیتم
                        </div>
                    </div>
                </div><!--close .search_result-->
                <div class='box_style3'>
                    <ul class='step clearfix none_list_style'>
                        <li class='item'>
                            <div class='top_part'>
                                <a href='/اجاق-گاز-صفحه-ای-اخوان/products/2' title='' class='pic'
                                   style='background-image:url(/uploads/kiket-K4ux-8.jpg);'></a>
                            </div><!--close .top_part-->
                            <div class='bottom_part'>
                                <div class='content_part'>
                                    <a href='' title='' class='name ellipsis'>
                                        اجاق گاز صفحه ای اخوان
                                    </a>
                                    <div class='price_part'>
                                        <span class='org_price'>
                                            445,000
                                            تومان
                                        </span>
                                    </div>
                                </div><!--close .content_part-->
                                <ul class='link_part clearfix none_list_style'>
                                    <li class='item2 add_cart'>
                                        <a href='/cart/add' onclick="event.preventDefault();
                                                     document.getElementById('cart-product-2').submit();" title='' class='link2'>
                                            <i class='i-add-shop'></i>
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                    </li>
                                    <li class='item2 see_more'>
                                        <a href='/اجاق-گاز-صفحه-ای-اخوان/products/2'
                                           title='' class='link2'>
                                            <i class='i-link'></i>
                                            <span>بیشتر</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!--close .bottom_part-->
                        </li><!--close .item-->
                        <form method="POST" action="/ShoppingCard/Add" id="cart-product-2" style="display: none;">
                            <input type="hidden" name="product_id" value="2">
                            <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        </form>
                        <li class='item'>
                            <div class='top_part'>
                                <a href='/اجاقگاز-وایز-WG301/products/23' title='' class='pic'
                                   style='background-image:url(/uploads/kiket-1VZ5-WG301.JPG);'></a>
                            </div><!--close .top_part-->
                            <div class='bottom_part'>
                                <div class='content_part'>
                                    <a href='' title='' class='name ellipsis'>
                                        اجاقگاز وایز WG301
                                    </a>
                                    <div class='price_part'>
                                        <span class='org_price'>
                                            1,290,000
                                            تومان
                                        </span>
                                    </div>
                                </div><!--close .content_part-->
                                <ul class='link_part clearfix none_list_style'>
                                    <li class='item2 add_cart'>
                                        <a href='/cart/add' onclick="event.preventDefault();
                                                     document.getElementById('cart-product-23').submit();" title='' class='link2'>
                                            <i class='i-add-shop'></i>
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                    </li>
                                    <li class='item2 see_more'>
                                        <a href='/اجاقگاز-وایز-WG301/products/23'
                                           title='' class='link2'>
                                            <i class='i-link'></i>
                                            <span>بیشتر</span>
                                        </a>
                                    </li>
                                </ul>
                            </div><!--close .bottom_part-->
                        </li><!--close .item-->
                        @*<form method="POST" action="/cart/add" id="cart-product-23" style="display: none;">
                            <input type="hidden" name="product_id" value="23">
                            <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        </form>
                        <li class='item'>
                            <div class='top_part'>
                                <a href='/اجاقگاز-وایز-WG302/products/24' title='' class='pic'
                                   style='background-image:url(/uploads/kiket-EzbH-WG302.jpg);'></a>
                            </div>close .top_part
                            <div class='bottom_part'>
                                <div class='content_part'>
                                    <a href='' title='' class='name ellipsis'>
                                        اجاقگاز وایز WG302
                                    </a>
                                    <div class='price_part'>
                                        <span class='org_price'>
                                            1,290,000
                                            تومان
                                        </span>
                                    </div>
                                </div>close .content_part
                                <ul class='link_part clearfix none_list_style'>
                                    <li class='item2 add_cart'>
                                        <a href='/cart/add' onclick="event.preventDefault();
                                                     document.getElementById('cart-product-24').submit();" title='' class='link2'>
                                            <i class='i-add-shop'></i>
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                    </li>
                                    <li class='item2 see_more'>
                                        <a href='/اجاقگاز-وایز-WG302/products/24'
                                           title='' class='link2'>
                                            <i class='i-link'></i>
                                            <span>بیشتر</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>close .bottom_part
                        </li>close .item
                        <form method="POST" action="/cart/add" id="cart-product-24" style="display: none;">
                            <input type="hidden" name="product_id" value="24">
                            <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        </form>
                        <li class='item'>
                            <div class='top_part'>
                                <a href='/اجاقگاز-وایز-WG303/products/25' title='' class='pic'
                                   style='background-image:url(/uploads/kiket-BRrw-kiket0ElcR0WG303.jpg);'></a>
                            </div>close .top_part
                            <div class='bottom_part'>
                                <div class='content_part'>
                                    <a href='' title='' class='name ellipsis'>
                                        اجاقگاز وایز WG303
                                    </a>
                                    <div class='price_part'>
                                        <span class='org_price'>
                                            1,393,000
                                            تومان
                                        </span>
                                    </div>
                                </div>close .content_part
                                <ul class='link_part clearfix none_list_style'>
                                    <li class='item2 add_cart'>
                                        <a href='/cart/add' onclick="event.preventDefault();
                                                     document.getElementById('cart-product-25').submit();" title='' class='link2'>
                                            <i class='i-add-shop'></i>
                                            <span>افزودن به سبد خرید</span>
                                        </a>
                                    </li>
                                    <li class='item2 see_more'>
                                        <a href='/اجاقگاز-وایز-WG303/products/25'
                                           title='' class='link2'>
                                            <i class='i-link'></i>
                                            <span>بیشتر</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>close .bottom_part
                        </li>close .item
                        <form method="POST" action="/cart/add" id="cart-product-25" style="display: none;">
                            <input type="hidden" name="product_id" value="25">
                            <input type="hidden" name="_token" value="KubHdUwJNAhD3EiMO7ancz5OGMtQTMwekpJlr53n">
                        </form>*@
                    </ul>
                </div>close .box_style3
                <div class='pagination_style1'>

                </div><!--close .pagination_style1-->
            </div><!--close .left_part-->
        </div><!--close .inner-->
    </div><!--close .container-->
</div><!--close .product_archive_part1-->
@section Scripts {

}

