
<h1>ارسال کد تایید</h1>
<form action="/Profile/CheckConfirmCode" method="post">
    <div class="icon">
        <i class="i-telephone"></i>


    </div>
    <input type="text" placeholder="کد " name="Code" valeu="" />
    <span class="focus_bg"></span>
    <button class="btn-danger" type="submit">ارسال کد تایید</button>
</form>
