@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "بازیابی رمز عبور";
}

<h1>@ViewData["Title"]</h1>
<p>
    لطفا برای بازیابی پسورد خود ایمیلتان را چک نمایید
</p>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

